<div class="start-screen">
  <header>
    <h1 class="sr-only">Pokemon Catcher</h1>
    <img
      class="start-screen__logo"
      src="../../../assets/pokemon-catcher.png"
      alt="Pokemon Catcher"
      aria-hidden="true"
    />
  </header>

  <div class="player-window">
    <div class="player-window__errors">
      <p
        class="error-message"
        *ngIf="
          (nickname.invalid && (nickname.dirty || nickname.touched)) ||
          (nickname.invalid && invalidSubmit)
        "
      >
        Enter your nickname
      </p>
    </div>

    <form
      class="player-window__form"
      [formGroup]="playerForm"
      (ngSubmit)="createPlayer()"
    >
      <div class="input-box">
        <label
          class="input-box__label"
          for="nickname"
          [class.input-box__label--active]="nickname.value"
          >Nickname</label
        >
        <input
          class="input-box__input"
          id="nickname"
          type="text"
          autocomplete="off"
          formControlName="nickname"
        />
      </div>

      <button class="btn btn--primary" type="submit">Continue</button>
    </form>
  </div>
</div>
