.start-screen {
  height: 90vh;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  &__logo {
    width: 80vw;
  }

  .player-window {
    position: relative;
    height: 50vh;
    min-height: 350px;
    width: 50vh;
    max-height: 520px;
    max-width: 520px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__form {
      height: 40%;
      width: 80%;
      max-width: 320px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    &__errors {
      position: absolute;
      top: 10%;
    }
  }

  @media (orientation: landscape) {
    .start-screen {
      &__logo {
        width: 70vh;
      }

      .player-window {
        height: 50vw;
        width: 50vw;
      }
    }
  }
}
