@import "../../../SCSS/variables";

.loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pokemon-list {
  max-width: 940px;
  margin: 25px auto 125px auto;

  &__header {
    text-align: center;
    font-size: 28px;

    &--trainer {
      white-space: nowrap;
    }
  }

  &__btn {
    display: block;
    margin: 25px auto;
    padding: 0;

    &--img {
      width: 140px;
    }
  }

  &__list {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-auto-rows: 525px;
    gap: 20px;
    justify-content: center;
  }
}
