<div class="loader-container">
  <div class="loader" *ngIf="loading"></div>
</div>

<main class="pokemon-list">
  <header class="pokemon-list__header">
    <h2>
      Hello,
      <span class="pokemon-list__header--trainer">
        <img
          src="../../../assets/pokemon-trainer.png"
          alt="Pokemon trainer"
          aria-hidden="true"
        />{{ player.nickname }}!
      </span>
    </h2>
  </header>

  <button
    class="pokemon-list__btn btn btn--shake"
    type="button"
    *ngIf="!loading"
    (click)="catchEm()"
    aria-label="Catch'em!"
  >
    <img
      class="pokemon-list__btn--img"
      src="../../../assets/catchem.png"
      alt="Catch'em!"
      aria-hidden="true"
    />
  </button>
  <span class="tooltip" *ngIf="catchTooltip">Click to catch'em all!</span>

  <ul class="pokemon-list__list">
    <li class="pokemon-list__pokemon" *ngFor="let pokemon of pokemons">
      <app-pokemon [pokemon]="pokemon"></app-pokemon>
    </li>
  </ul>
</main>
