@import "../../../SCSS/variables";

.pokemon-list {
  max-width: 1580px;
  margin: 25px auto 50px auto;
  text-align: center;

  &__header {
    font-size: 42px;

    &--player {
      white-space: nowrap;
    }
  }

  &__list {
    margin: 25px auto 50px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-auto-rows: 525px;
    gap: 20px;
    justify-content: center;
  }

  &__btn {
    display: block;
    padding: 0;
    margin: 25px auto 0 auto;

    &--img {
      width: 140px;
    }
  }
}
