<div class="loader-container">
  <div class="loader" *ngIf="loading"></div>
</div>

<main class="pokemon-list">
  <header class="pokemon-list__header">
    <h2>Hello, {{ player.nickname }}!</h2>
  </header>

  <button
    class="pokemon-list__btn btn btn--shake"
    type="button"
    (click)="catchEm()"
  >
    <img
      class="pokemon-list__btn--img"
      src="../../../assets/catchem.png"
      alt="Catch'em!"
    />
  </button>

  <ul class="pokemon-list__list">
    <li class="pokemon-list__pokemon" *ngFor="let pokemon of pokemons">
      <app-pokemon [pokemon]="pokemon"></app-pokemon>
    </li>
  </ul>
</main>
