<main class="pokemons">
  <header class="pokemons__header">
    <h2>Hello, {{ nickname }}!</h2>
  </header>

  <ul class="pokemons__list">
    <li class="pokemons__list-item"><a class="pokemons__link"></a></li>
    <li class="pokemons__list-item"><a class="pokemons__link"></a></li>
    <li class="pokemons__list-item"><a class="pokemons__link"></a></li>
    <li class="pokemons__list-item"><a class="pokemons__link"></a></li>
    <li class="pokemons__list-item"><a class="pokemons__link"></a></li>
  </ul>

  <button class="pokemons__btn" type="button">Catch'em!</button>
</main>
