<footer>
  <div class="cover"></div>

  <div class="element">
    Pokemon Catcher made by
    <a
      class="element__link"
      href="https://rawdanowiczdev.pl"
      target="_blank"
      rel="noopener"
      >Marek Rawdanowicz</a
    >
  </div>

  <div class="element">
    Pokeball images and player icon made by
    <a
      class="element__link"
      href="https://www.flaticon.com/authors/nikita-golubev"
      target="_blank"
      rel="noopener"
    >
      Nikita Golubev</a
    >
  </div>

  <div class="element">
    <img
      class="element__pokeball"
      src="../../../assets/pokeball-footer.png"
      alt="Pokeball"
    />
    <small class="element__quote">
      <q>I wanna be the very best, like no one ever was.</q>
    </small>
    <img
      class="element__pokeball"
      src="../../../assets/pokeball-footer.png"
      alt="Pokeball"
    />
  </div>
</footer>
