@import "../../../SCSS/variables";

.pokemon {
  height: 100%;
  padding: 30px 0 calc(30px + 52px) 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba($blue, 0.25);
  border-radius: 10px;

  &__name {
    text-transform: uppercase;
  }

  &__artwork {
    width: 80%;
  }

  &__stat {
    text-transform: uppercase;
    line-height: 1.5;
    font-size: 15px;

    &--value {
      font-weight: 700;
    }
  }

  &__catch {
    position: absolute;
    bottom: 15px;
    animation: 0.2s caught both;

    @keyframes caught {
      0% {
        transform: scale(0.2);
      }
      100% {
        transform: scale(1);
      }
    }
  }
}
