<!-- Pokemon card is focusable for screen reader purposes -->
<article class="pokemon tab-focusable" tabindex="0">
  <div class="loader" *ngIf="!pokemon.artwork; else pokemonCard"></div>

  <ng-template #pokemonCard>
    <header class="pokemon__name">
      <h3>{{ pokemon.name }}</h3>
    </header>

    <img
      class="pokemon__artwork"
      [src]="pokemon.artwork"
      [alt]="pokemon.name"
    />

    <ul class="pokemon__stats">
      <li class="pokemon__stat" *ngFor="let stat of pokemon.stats">
        {{ stat.name }}:
        <span class="pokemon__stat--value sr-pause">{{ stat.value }}</span>
      </li>
    </ul>

    <div *ngIf="pokemon.caught === true">
      <img
        class="pokemon__catch"
        src="../../../assets/pokeball.png"
        alt="Caught!"
      />
      <span class="pokemon__catch--tooltip tooltip">Caught!</span>
    </div>
  </ng-template>
</article>
