@import "../../../SCSS/variables";

.pokemon {
  height: 100%;
  padding: 30px 0 calc(30px + 52px) 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba($blue, 0.25);
  border-radius: 10px;

  &__name {
    text-transform: uppercase;
  }

  &__artwork {
    width: 80%;
  }

  &__stat {
    text-transform: uppercase;
    text-align: left;
    line-height: 1.6;
    font-size: 15px;
    cursor: default;

    &--value {
      font-weight: 700;
    }
  }

  &__catch {
    position: absolute;
    height: 52px;
    bottom: 15px;
    left: calc(50% - 26px);
    animation: 0.2s caught;
    transition: transform 0.2s;
    transform: scale(1);

    &:hover,
    &:focus {
      transform: scale(1.1);

      & + .pokemon__catch--tooltip {
        visibility: visible;
        animation: 0.2s;
      }
    }

    &--tooltip {
      visibility: hidden;
      position: absolute;
      bottom: -26px;
      transform: translateX(-50%);
      animation: 0;
    }

    @keyframes caught {
      0% {
        transform: scale(0.2);
      }
      100% {
        transform: scale(1);
      }
    }
  }
}
