// styles only for accessibility purposes

button,
input,
a,
.tab-focusable:focus-visible {
  outline-offset: 1px;
  outline-color: rgba($yellow, 0.7);
}

.tab-focusable {
  outline-color: transparent;
}

// additional query for Firefox which doesn't support :focus-visible
@-moz-document url-prefix() {
  .tab-focusable {
    outline-color: inherit;
  }
}

// use to hide element from view but still make it accessible for screen-reader-only users
// add the class to element for example <h1 class="sr-only"></h1>
.sr-only {
  height: 1px !important;
  width: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  color: transparent !important;
  background-color: transparent !important;
}

// add the class to element to force screen reader to pause after reading a line
// for example <span class="sr-pause"></span>
.sr-pause {
  &::after {
    content: ",";
    color: transparent !important;
  }
}
