.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;

  &__err {
    font-size: 32px;
    font-weight: 700;
  }

  &__img {
    margin: 10px;
    width: 50vh;
    max-width: 300px;
  }

  &__text {
    margin: 10px;
    max-width: 400px;
    text-align: center;
    font-size: 20px;
  }
}
